{% extends 'base.html.twig' %}

{% block title %}Édition Profil !{% endblock %}

{% block body %}


{{ form_start(form) }}
 <div id="profilForm"> 
    
        <label for="pseudo">&nbsp;Utilisateur :</label>
        
        <div class="flexForm">     
        <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 70px;"></span> 
            {{ form_widget(form.username) }}
        </div>

        <label for="password">&nbsp;Mot de passe :</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 70px;"></span>
            {{ form_widget(form.password) }}            
        </div>

         
       
        <div class="flexForm">
            <button class="btn">{{ button_label|default('Modifier') }}</button>     
        </div>


</div>        
{{ form_end(form) }}        
        



        



   
           
           

             
  
       


{% endblock %}
