{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}


<section id="ranked">
    
    <div class="btn">  
    
        <h1>Comptes d'utilisateur</h1>
    
    </div>


    <table class="table">


        <thead>
               <tr>  
                   <th>Id</th>
                   <th>Identifiant</th>
                   {#<th>Score</th>
                   <th>Temps de jeux</th>#}
                   <th>Role</th>
                   <th>Actions</th>
               </tr>
        </thead>

        
        
        <tbody>

        {% for userRepositorys in userRepository %}

            <tr>
             
                <td>{{ userRepositorys.id}}</td>
                {#<td>{{ userRepositorys.score}}</td>#}
                <td>{{ userRepositorys.username}}</td>
                <td>{{ userRepositorys.roles[0]}}</td>
                <td>{{ include('admin/_delete_form.html.twig') }}</td>
                
            </tr>

        {% else %}
            <tr>
                <td>Aucune données trouver</td>
            </tr>
        {% endfor %}

        </tbody>


        </table>
</section>
{% endblock %}